<% if logged_in? %>
  <p>Welcome, <%= current_user.name %>!</p>
<% else  %>
  <p>Maybe you want to <a href="/users/new">Sign up for an account?</a></p>
  <p>Or perhaps you want to <a href="/session/new">Log in?</a></p>
<% end %>
