<!DOCTYPE html>
<head>
<title>Can I Eat Here?</title>
</head>
<body>
<header>
  <h1>Can I Eat Here?</h1>
  <p>A Directory of Restaurants That Cater To Your Dietary Needs</p>
</header>
<%= yield %>
</body>
<html>
